body {
    margin: 0px;
    height: 100%;
}
#arena {
     
    background-image: url("https://i.ibb.co/ZhtPgkM/arena.jpg"); 
    background-size: 100% 100%;
    margin: 0px;
    width: 100%;
    height: 100%;
    
}
#score {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
}
@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P.woff');
}
@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P.woff');
}


.player {
    background-size: 100% 100%;
    background-image: url("https://i.ibb.co/cXyyx5C/player1.png");
    position: absolute;
    background-color: #c7b39b;
    left: 25%;
    top: 50%;
    width: 90px;
    height: 90px;
}

.opponent {
    background-size: 100% 100%;
    background-image: url("https://i.ibb.co/3m1qV5S/player2.png");
    position: absolute;
    left: 85%;
    top: 50%;
    width: 90px;
    height: 90px;
}

.ball {
    background-size: 100% 100%;
    background-image: url("https://i.ibb.co/JBc66LH/balll.png");
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 25px;
}
#right {
    background-position: 64px 192px;
}

#left {
    background-position: 64px 0px;
}

#down {
    background-position: 128px 192px;
}

#up {
    background-position: 128px 0px;
}

.control {
    margin: 16px;
    width: 64px;
    height: 64px;
}
#controls-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

#controls-right {
    position: absolute;
    right: 0;
    bottom: 0;
}
